*{
    margin: 0%;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.headermove{
    display: flex;
    justify-content: center;
}


header{
    display: block;
    padding: 1px;
    width: auto;
    margin-bottom: 2px; 
    /*background-color: ;*/
}

footer{
    padding: 21px;
    width: auto;
    background-color: #29c5f6;
    margin-top: 20px;
}

.footerlogo{
    width: 70px;
}

.adjustfooterlogo{
    display: flex;
    justify-content: center;
}

.kkblogoheader{
    display: flex;
    width: 55px;
}

.kklogoheader{
    display: none;
    width: 55px;
}

.textalign{
    display: flex;
    height: 60px;
    align-items: center;
    flex-direction: row;

}

.text1{
    text-decoration: none;
    margin: 20px;
    color: black;
}

.footertext{
    display: block; 
    margin-left: 26px;
    color: white;
}



.text1:hover{
    color: rgb(75, 61, 61);
}

.topictext::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 30%; 
    background-color: #29c5f6;
    z-index: -1;
    transform: rotate(-2deg);
    border-radius: 5px;
    height: 50%;
}

.swipe-in {
    animation: swipeInLeft 1s ease-out forwards;
}

.contentnaja{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.contentnaja{
    height: auto;
}

@keyframes swipeInLeft {
    from {
        transform: translateX(-100%); 
    }
    to {
        transform: translateX(0); 
    }
}

.topicmove {
    display: flex;
    margin-bottom: 50px; 
}

.topicnaja{
    display: flex;
    justify-content: center;
    
}

.topictext{
    display: flex;
    color: black;
    font-size: 35px;
}

.contenttext{
    font-size: 25px;
}

.contactus{
    width: 500px;
}

.picturemove{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.text{
    font-size: 20px;
}

.khukantext{
    text-decoration: none;
    color: black;
    margin-left: 0px;
    font-size: 20px;
}
.justifyforms{
    display: flex;
    justify-content: center;
}

.contentmove{
    text-align: c;
}